# vs code folders
/.vscode
/.vscode/*
# specific files
detector.xml
# python cached files
*.pyc
__pycache__
# logs extensions
*.npy
*.csv
# test files
test.*
/.history
*.sqlite
/__pycache__
/*.txt
!/performance_log.csv
*.sqlite-journal